.btn {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.btn {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.btn {
  width: 13.75rem;
  min-height: 4.9375rem;
  border-radius: 1rem;
  padding: 1.75rem 2.4375rem;
  border: 0.125rem solid transparent;
  font-weight: 700;
}
.btn__icon {
  margin-left: 0.625rem;
}
.gallery-card .btn {
  width: 20rem;
  min-height: 6rem;
}

.bright-btn.btn {
  background-color: #EFD372;
}

.dark-btn.btn {
  background-color: #274c5b;
  color: #FFFFFF;
}

.white-btn.btn {
  background-color: #FFFFFF;
  border-radius: 1.25rem;
}

.yellow-btn.btn {
  background-color: #EFD372;
  color: #FFFFFF;
}