.circle-sign {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.circle-sign {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.circle-sign {
  width: 9.84375vw;
  min-width: 7.5rem;
  height: 9.84375vw;
  min-height: 7.5rem;
  border-radius: 50%;
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.circle-sign::after {
  content: "";
  display: block;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  border: 0.125rem solid #7EB693;
  position: absolute;
  top: -5%;
  left: -5%;
}
.circle-sign__amount {
  font-weight: 800;
  font-size: clamp(1.8rem, 2.6041666667vw, 3.125rem);
  line-height: 1.18em;
}
.circle-sign__product {
  text-transform: capitalize;
  font-weight: 600;
  font-size: clamp(0.8rem, 0.9375vw, 1.12rem);
  line-height: 1.66em;
}