.customer-form {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.customer-form {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.customer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.6041666667vw;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3125rem;
  width: 61.6666666667vw;
}
.customer-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.3958333333vw;
}
.customer-form__row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.3541666667vw;
  width: 48.0574324324%;
}
.customer-form__field {
  border-radius: 0.8333333333vw;
  border: 1px solid #7eb693;
  padding: 1.4583333333vw 1.1979166667vw 1.6145833333vw;
}
.customer-form__field:focus:not(:-moz-placeholder-shown) {
  box-shadow: #7eb693 0px 2px 5px 0px;
}
.customer-form__field:focus:not(:-ms-input-placeholder) {
  box-shadow: #7eb693 0px 2px 5px 0px;
}
.customer-form__field:focus:not(:placeholder-shown), .customer-form__field:focus {
  -webkit-box-shadow: #7eb693 0px 2px 5px 0px;
          box-shadow: #7eb693 0px 2px 5px 0px;
}
.customer-form__field:not(:focus):-moz-placeholder-shown {
  border-color: #7eb693;
}
.customer-form__field:not(:focus):-ms-input-placeholder {
  border-color: #7eb693;
}
.customer-form__field:not(:focus):placeholder-shown {
  border-color: #7eb693;
}
.customer-form__field:not(:focus):not(:-moz-placeholder-shown):invalid {
  border-color: #ec5a5a;
}
.customer-form__field:not(:focus):not(:-ms-input-placeholder):invalid {
  border-color: #ec5a5a;
}
.customer-form__field:not(:focus):not(:placeholder-shown):invalid {
  border-color: #ec5a5a;
}
.customer-form__field:not(:focus):not(:-moz-placeholder-shown):valid {
  border-color: #7eb693;
}
.customer-form__field:not(:focus):not(:-ms-input-placeholder):valid {
  border-color: #7eb693;
}
.customer-form__field:not(:focus):not(:placeholder-shown):valid {
  border-color: #7eb693;
}
.customer-form__field::-webkit-input-placeholder {
  font-style: italic;
  color: #ababab;
}
.customer-form__field::-moz-placeholder {
  font-style: italic;
  color: #ababab;
}
.customer-form__field:-ms-input-placeholder {
  font-style: italic;
  color: #ababab;
}
.customer-form__field::-ms-input-placeholder {
  font-style: italic;
  color: #ababab;
}
.customer-form__field::placeholder {
  font-style: italic;
  color: #ababab;
}
.customer-form .message-field {
  margin-top: 1.3541666667vw;
  width: 100%;
  min-height: 12.8645833333vw;
}
@media (max-width: 767.98px) {
  .customer-form__row-item {
    width: 100%;
  }
  .customer-form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}