.footer {
  font-family: "Open Sans", sans-serif;
}

.footer .utility__title, .footer .contacts__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.footer {
  font-family: "Open Sans", sans-serif;
}

.footer .utility__title, .footer .contacts__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.footer {
  width: 100%;
  min-height: 30.75rem;
  margin-top: 1rem;
}
.footer__container {
  width: 73.9583333333vw;
  padding: 0 0.625em;
  margin: 0 auto;
  min-height: 27.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.7916666667vw;
}
@media (max-width: 991.98px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer .contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14.84375vw;
          flex: 0 1 14.84375vw;
  min-width: 11.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer .contacts__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.1875rem;
}
.footer .contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  direction: rtl;
}
.footer .contacts__item-title {
  font-weight: 700;
}
.footer__informer {
  width: 33.9375rem;
  position: relative;
}
.footer__informer::before, .footer__informer::after {
  content: "";
  display: inline-block;
  height: 21rem;
  width: 1px;
  position: absolute;
  background-color: #d4d4d4;
  top: 0;
}
.footer__informer::before {
  left: -2.5625rem;
}
.footer__informer::after {
  right: -2.5625rem;
}
.footer__informer .widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__informer .widgets__description {
  margin-top: 1.4375rem;
  padding: 0 1rem;
  text-align: center;
}
.footer__informer .social {
  margin-top: 3.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem;
}
.footer__informer .social__link {
  display: inline-block;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
}
.footer__informer .social .instagram-link {
  background: #eff6f1 url("../../assets/footer/insta.svg") center no-repeat;
}
.footer__informer .social .facebook-link {
  background: #eff6f1 url("../../assets/footer/fb.svg") center no-repeat;
}
.footer__informer .social .twitter-link {
  background: #eff6f1 url("../../assets/footer/twiter.svg") center no-repeat;
}
.footer__informer .social .pintrest-link {
  background: #eff6f1 url("../../assets/footer/pintrest.svg") center no-repeat;
}
.footer .utility {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14.84375vw;
          flex: 0 1 14.84375vw;
  min-width: 11.3125rem;
}
.footer .utility__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.1875rem;
}
.footer .utility__list {
  margin-top: 1.375rem;
  line-height: 3.0625rem;
}
.footer__copyright {
  min-height: 2.9375rem;
  text-align: center;
}
.footer__copyright .bold-text {
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__informer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}