/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.header__navigation {
  height: 1.4375rem;
}

.navigation {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1em;
}
.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__item:nth-child(n+2) {
  margin-left: 2.1875vw;
}
.navigation__item {
  text-transform: capitalize;
}