.products__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

.products__subtitle {
  font-family: "Yellowtail", cursive;
  color: #68a47f;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.products__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

.products__subtitle {
  font-family: "Yellowtail", cursive;
  color: #68a47f;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.products {
  width: 100%;
  min-height: 107.5rem;
  padding: 11rem 12.5rem 0;
  position: relative;
}
.products__container {
  width: 73.9583333333vw;
  padding: 0 0.625em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products__subtitle {
  font-size: 2.25rem;
  line-height: 3.0625rem;
}
.products__title {
  font-weight: 800;
  font-size: 3.125rem;
  line-height: 3.6875rem;
  margin-top: 0.5rem;
}
.products__content {
  margin-top: 2.5rem;
  margin-bottom: 7.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}
.products__detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(244, 244, 244, 0.82);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products .hidden {
  visibility: hidden;
}