.subscribe__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.subscribe__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.subscribe {
  width: 100%;
  padding-bottom: 7.3125rem;
}
.subscribe__container {
  width: 75vw;
  padding: 0 0.625em;
  margin: 0 auto;
  padding: 4.4375rem 6.5625rem;
  min-height: 20.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1.875rem;
  background-color: #37b5de;
  background: url("../../assets/subscribe/fresh.png") center/cover;
}
.subscribe__title {
  font-weight: 800;
  font-size: 3.125rem;
  line-height: 3.6875rem;
  max-width: 27.5038520801%;
  color: #ffffff;
}