.testimonial__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

.testimonial__subtitle {
  font-family: "Yellowtail", cursive;
  color: #68a47f;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.testimonial__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

.testimonial__subtitle {
  font-family: "Yellowtail", cursive;
  color: #68a47f;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.testimonial {
  width: 100%;
  min-height: 79.1875rem;
  padding: 10.25rem 0;
  background: url("../../assets/testimonial/cinnamon.png") no-repeat center/cover;
}
.testimonial__container {
  width: 75vw;
  padding: 0 0.625em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial__subtitle {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 3.0625rem;
}
.testimonial__subtitle, .testimonial__title {
  text-transform: capitalize;
  text-align: center;
}
.testimonial__title {
  margin-top: 0.5rem;
  font-size: 3.125rem;
  font-weight: 800;
  line-height: 3.6875rem;
}
.testimonial__content {
  margin-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 6.375rem;
}
.testimonial__stat {
  width: 100%;
  padding: 6.375rem 0 2.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.9375rem;
  position: relative;
}
.testimonial__stat::before {
  content: "";
  display: inline-block;
  width: 100%;
  border-top: 0.0625rem solid #e0e0e0;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 991.98px) {
  .testimonial__stat {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}