.thanks__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.thanks__title {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.thanks {
  width: 100%;
  height: 48.90625vw;
  min-height: 31.25rem;
  padding: 4.8958333333vw 7.8125vw 14.0104166667vw;
  background-clip: padding-box;
  background: url("../../../assets/thanks/Background.png") no-repeat;
  background-position: left 13.75rem;
  background-size: 100% auto;
}
.thanks__title {
  font-size: 4.375rem;
  font-weight: 800;
  line-height: 5.125rem;
  font-size: clamp(2.5rem, 3.6458333333vw, 5rem);
  text-align: center;
}
.thanks__title::first-letter {
  text-transform: uppercase;
}