@import 'styles/_fonts','styles/_variables';
@import '../node_modules/scss-reset/_reset.scss';
*{
    box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
    @extend %main-text-style;
    font-weight: 400;
    font-size: rem(18);
    line-height: em(30);
    color: $text-color;
    
}