.btn {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.btn {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.btn {
  width: 13.75rem;
  min-height: 4.9375rem;
  border-radius: 1rem;
  padding: 1.75rem 2.4375rem;
}
.btn__icon {
  margin-left: 0.625rem;
}

.bright.btn {
  background-color: #EFD372;
}

.dark.btn {
  background-color: #274c5b;
  color: #FFFFFF;
}