.circle-sign__product, .circle-sign__amount {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.circle-sign__product, .circle-sign__amount {
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.circle-sign {
  width: 11.8125rem;
  height: 11.8125rem;
  border-radius: 50%;
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.circle-sign::after {
  content: "";
  display: block;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  border: 0.125rem solid #7EB693;
  position: absolute;
  top: -5%;
  left: -5%;
}
.circle-sign__amount {
  font-size: 3.125rem;
  font-weight: 800;
  line-height: 3.6875rem;
}
.circle-sign__product {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.875rem;
}