/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
/*>=992 Desktop, large screens*/
/*>=768 Small screens, laptop*/
/*>=480 Ipads, Tablets*/
/*<=480 mobile*/
.subscribeForm {
  width: 36.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.subscribeForm__field {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border-radius: 1rem;
  background-color: #ffffff;
  line-height: 1.3125rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: size-rem(18);
  border: none;
  padding: 1.75rem 1.9375rem 1.4375rem;
  color: #ababab;
}