@import "../../../styles/variables", "../../../styles/functions";

.cart {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  @extend %title-text-style;

  &__title-block {
    width: 100%;
    height: rem(450);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f1e9;
    background: url("../../../assets/cart/Pattern.svg") center/cover no-repeat,
      url("../../../assets/cart/bg-fruit.png") 100% center/cover no-repeat;
  }
  &__title {
    padding-left: rem(20);
    @include titleStyle(800, 70, 82);
  }
  &__main-block {
    margin-top: rem(141);
    width: 100%;
    background-color: rgba(253, 176, 45, 0.16);
  }
  &__container {
    @include main-container();
    padding: rem(149) 0 rem(59);
  }
  &__order {
    display: flex;
    flex-direction: column;
  }
  &__order-list {
  }
  &__order-item {
    width: 100%;
    min-height: rem(226);
    display: flex;
    align-items: center;
    gap: rem(72);
  }
  &__order-image {
    display: block;
    border-radius: rem(30);
    width: rem(292);
    height: rem(226);
    background-color: #f9f8f8;
    mix-blend-mode: multiply;
    object-fit: cover;
    object-position: center;
  }
  &__product-name {
    @include titleStyle(700, 40, 46);
  }
  &__values {
  }

  &__price {
    font-weight: 600;
    font-size: rem(24);
    line-height: rem(28);
    color: #b8b8b8;
  }
  &__discount-price {
  }

  &__order-form {
    @include titleStyle(700, 32, 38);
    width: rem(295);
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: rem(22);
    position: relative;
  }
  &__lable {
    display: inline-block;
    width: rem(139);
  }
  &__field {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    font-weight: 700;
    width: rem(134);
    height: rem(80);
    border-radius: rem(16);
    color: $main-text-color;
    border: 2px solid $main-text-color;
    background-color: #ffffff;
  }
  &__close-btn {
    width: rem(64);
    height: rem(46);
    @include titleStyle(700, 20, 23);
    color: #ffffff;
    background-color: $main-text-color;
    position: absolute;
    top: rem(17);
    right: rem(-97);
    border-radius: rem(16);
    text-align: center;
    vertical-align: bottom;
  }
  &__total-block {
    margin-top: rem(55);
    min-width: rem(278);
    align-self: flex-end;
    @include titleStyle(700, 40, 47);
    .sum {
      display: block;
      float: right;
    }
  }

  &__total-diacount {
    margin-top: rem(32);
  }

  &__customer-form {
  }

  .customer-form {
    display: flex;
    flex-direction: column;
    gap: rem(50);
    @include titleStyle(600, 18, 21);
    width: rem(1184);
    margin: rem(104) rem(86) rem(38) rem(130);
    &__row {
      display: flex;
      gap: rem(46);
    }
    &__row-item {
      display: flex;
      flex-direction: column;
      row-gap: rem(26);
      width: percent(569, 1184);
    }
    &__field-label {
    }
    &__field {
      border-radius: rem(16);
      border: 1px solid #7eb693;
      padding: rem(28) rem(23) rem(31);
    }
    &__field::placeholder {
      font-style: italic;
      color: #ababab;
    }
    .message-field {
      margin-top: rem(26);
      width: 100%;
      min-height: rem(247);
    }
  }

  &__btn {
    margin-top: rem(76);
    align-self: center;
  }
}
