@import '../../styles/variables', '../../styles/functions' ;

.header__navigation{
    width: vw(564);
    height: rem(23);
    
}
.navigation{
    font-weight: 700;
    font-size: rem(20);
    line-height: 1em;
    &__list{
        list-style: none;
        display: flex;
        gap: rem(42);
    }
    &__item{
        text-transform: capitalize;
    }
}
