@import "../../styles/variables", "../../styles/functions";

.btn{
    width: rem(220);
    min-height: rem(79);
    border-radius: rem(16);
    padding: rem(28) rem(39);
    border: rem(2) solid transparent ;
    font-weight: 700;
    @extend %title-text-style;
    &__icon{
        margin-left: rem(10);
    }
    .gallery-card &{
        width: rem(320);
        min-height: rem(96);
    }
}
.bright-btn.btn{
    background-color: $yellow-btn;
}
.dark-btn.btn{
    background-color:$main-text-color;
    color: #FFFFFF;
}
.white-btn.btn{
    background-color: #FFFFFF;
    border-radius: rem(20);
}
.yellow-btn.btn{
    background-color: #EFD372;
    color: #FFFFFF;
}
