@import '../../styles/variables', '../../styles/functions' ;
.App{
    min-height: 100vh;
    padding-top:20;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .main{
        width: 100%;
        flex: 1 1 auto;
    }
    // &.lock{
    //     overflow: hidden;
    //    }
}