@import "../../styles/variables", "../../styles/functions";
.customer-form {
    display: flex;
    flex-direction: column;
    gap: rem(50);
    @include titleStyle(600, 18, 21);
    width: rem(1184);
    margin: rem(104) rem(86) rem(38) rem(130);
    &__row {
      display: flex;
      gap: rem(46);
    }
    &__row-item {
      display: flex;
      flex-direction: column;
      row-gap: rem(26);
      width: percent(569, 1184);
    }
  
    &__field {
      border-radius: rem(16);
      border: 1px solid  #7eb693;
      padding: rem(28) rem(23) rem(31);

      &:focus:not(:placeholder-shown),&:focus{
        box-shadow: #7eb693 0px 2px 5px 0px;
      }
      &:not(:focus):placeholder-shown{
        border-color: #7eb693;
      }

      &:not(:focus):not(:placeholder-shown):invalid{
        border-color:  #ec5a5a;
      }
      &:not(:focus):not(:placeholder-shown):valid {
        border-color: #7eb693;
      }
 
     
    }
    &__field::placeholder {
      font-style: italic;
      color: #ababab;
    }
    .message-field {
      margin-top: rem(26);
      width: 100%;
      min-height: rem(247);
    }
  }