@import "../../../styles/variables", "../../../styles/functions";
.thanks {
  width: 100%;
  height: vw(939);
  min-height: rem(500);
  padding: vw(94) vw(150) vw(269);
  background-clip: padding-box;
  background: url("../../../assets/thanks/Background.png") no-repeat;
  background-position: left rem(220);
  background-size: 100% auto;
  &__title {
    @include titleStyle(800, 70, 82);
    font-size: clamp(2.5rem, vw(70), 5rem);
    text-align: center;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
