$min-width: 320;
$max-width: 1920;
$max-width-Container: 1400;
$container-padding: 10;
$container-width: $max-width-Container + $container-padding * 2;
$main-text-color: #274c5b;
$text-color: #525c60;
$subtitle-color: #68a47f;
$dark-gray: #d4d4d4;
$white-smoke: #f9f8f8;
$light-green: #eff6f1;
$yellow-btn:#EFD372;
$star-color:#FFA858;

%main-text-style {
  font-family: "Open Sans", sans-serif;
}
%title-text-style {
  font-family: "Roboto", sans-serif;
  color: $main-text-color;
}
%subtitle-text-style {
  font-family: "Yellowtail", cursive;
  color: $subtitle-color;
}

$breakpoint-desktop:($container-width)px; /*>=992 Desktop, large screens*/
$breakpoint-laptop: 991.98px; /*>=768 Small screens, laptop*/
$breakpoint-tablet: 767.98px; /*>=480 Ipads, Tablets*/
$breakpoint-mobile: 479.98px; /*<=480 mobile*/
