@import "../../styles/variables", "../../styles/functions";

.products{
    width: 100%;
    min-height: rem(1720);
    padding: rem(176) rem(200) 0;
    position: relative;
    &__container{
        @include main-container();
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    &__subtitle{
        @extend %subtitle-text-style;
        font-size: rem(36);
        line-height: rem(49);
    }
    &__title{
        @extend %title-text-style;
        font-weight: 800;
        font-size: rem(50);
        line-height: rem(59);
        margin-top: rem(8);
    }
   
    &__content{
        margin-top: rem(40);
        margin-bottom: rem(122);
        display: flex;
        flex-wrap: wrap;
        gap: rem(20);

    }
    &__detail{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background-color: rgba(244, 244, 244, 0.82);
        display: flex;
        align-items: center;
       
    }
   
  
}
